<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.min.css">

    <link rel="stylesheet" href="css/style.css">

    <style>
        .dropzone {
            background-color: #cecece;
            border: 2px dotted #aeaeae;
            height: 100%;
        }
    </style>
</head>

<body>
    <header style="background: rgba(0,0,0,0.8);">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent shadow-none scrolling-navbar">
            <div class="container">
                <a class="navbar-brand mx-auto font-weight-bold" href="index.html">SCHOOLSTORE</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="py-5 px-2">
            <div class="container mt-5 dark-grey-text">
                <h1 class="text-center">DADOS DE PAGAMENTO</h1>
                <hr>

                <section>
                    <div class="row justify-content-between mt-5">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>1. Selecione o endereço de entrega</h2>
                                    <div class="accordion md-accordion" id="accordionEndereco" role="tablist"
                                        aria-multiselectable="true">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="endereco1">
                                                <h5 class="mb-0">
                                                    Nome
                                                    <a data-toggle="collapse" data-parent="#accordionEndereco" href="#endereco2"
                                                        aria-expanded="false" aria-controls="endereco2">
                                                        <i class="fas fa-angle-down rotate-icon"></i>
                                                    </a>
                                                    <button onclick="$(this).parent().parent().parent().remove()"
                                                        class="btn btn-link p-0 m-0 float-right mr-5">
                                                        <i class="fas fa-times text-danger"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="endereco2" class="collapse" role="tabpanel" aria-labelledby="endereco1"
                                                data-parent="#accordionEndereco">
                                                <div class="card-body">
                                                    <ul>
                                                        <li><b>CEP: </b>${endereco.getCep()}</li>
                                                        <li><b>Estado: </b>${endereco.getCidade().getEstado().getNome()}</li>
                                                        <li><b>Cidade: </b>${endereco.getCidade().getNome()}</li>
                                                        <li><b>Logradouro: </b>${endereco.getLogradouro()}</li>
                                                        <li><b>Número: </b>${endereco.getNumero()}</li>
                                                        <li><b>Bairro: </b>${endereco.getBairro()}</li>
                                                        <li><b>Complemento: </b>${endereco.getComplemento()}</li>
                                                        <li><b>Referência: </b>${endereco.getReferencia()}</li>
                                                        <li><b>Favorito: </b>${endereco.isFavorito()}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <c:foreach var="endereco" items="${cliente.getEnderecos()}">
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="${endereco.getNome()}--${endereco.getId()}">
                                                        <h5 class="mb-0">
                                                            ${endereco.getNome()}
                                                            <a data-toggle="collapse" data-parent="#accordionEndereco" href="#${endereco.getNome()-${endereco.getId()}" aria-expanded="false" aria-controls="${endereco.getNome()}-${endereco.getId()}">
                                                                <i class="fas fa-angle-down rotate-icon"></i>
                                                            </a>
                                                            <button onclick="$(this).parent().parent().parent().remove()" class="btn btn-link p-0 m-0 float-right mr-5">
                                                                <i class="fas fa-times text-danger"></i>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="${endereco.getNome()-${endereco.getId()}" class="collapse" role="tabpanel" aria-labelledby="${endereco.getNome()}--${endereco.getId()}" data-parent="#accordionEndereco">
                                                        <div class="card-body">
                                                            <ul>
                                                              <li><b>CEP: </b>${endereco.getCep()}</li>
                                                              <li><b>Estado: </b>${endereco.getCidade().getEstado().getNome()}</li>
                                                              <li><b>Cidade: </b>${endereco.getCidade().getNome()}</li>
                                                              <li><b>Logradouro: </b>${endereco.getLogradouro()}</li>
                                                              <li><b>Número: </b>${endereco.getNumero()}</li>
                                                              <li><b>Bairro: </b>${endereco.getBairro()}</li>
                                                              <li><b>Complemento: </b>${endereco.getComplemento()}</li>
                                                              <li><b>Referência: </b>${endereco.getReferencia()}</li>
                                                              <li><b>Favorito: </b>${endereco.isFavorito()}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                          
                                                    <input type="hidden" name="txtEnderecoId" value="${endereco.getId()}"
                                                    <input type="hidden" name="txtCep" value="${endereco.getCep()}">
                                                    <input type="hidden" name="txtBairro" value="${endereco.getBairro()}">
                                                    <input type="hidden" name="txtLogradouro" value="${endereco.getLogradouro()}">
                                                    <input type="hidden" name="txtCidadeId" value="${endereco.getCidade().getId()}">
                                                    <input type="hidden" name="txtReferencia" value="${endereco.getReferencia()}">
                                                    <input type="hidden" name="txtComplemento" value="${endereco.getComplemento()}">
                                                    <input type="hidden" name="txtNumero" value="${endereco.getNumero()}">
                                                    <input type="hidden" name="txtFavoritoEndereco" value="${endereco.isFavorito()}"> -->
                                        <!-- </div>
                                        </c:foreach> -->
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-5">
                                    <h2>2. Selecione um método de pagamento</h2>
                                    <div class="accordion md-accordion" id="accordionCartao" role="tablist"
                                        aria-multiselectable="true">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="cartao3">
                                                <h5 class="mb-0">
                                                    Nome
                                                    <a data-toggle="collapse" data-parent="#accordionCartao" href="#cartao4"
                                                        aria-expanded="false" aria-controls="cartao4">
                                                        <i class="fas fa-angle-down rotate-icon"></i>
                                                    </a>
                                                    <button onclick="$(this).parent().parent().parent().remove()"
                                                        class="btn btn-link p-0 m-0 float-right mr-5">
                                                        <i class="fas fa-times text-danger"></i>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="cartao4" class="collapse" role="tabpanel" aria-labelledby="cartao3"
                                                data-parent="#accordionCartao">
                                                <div class="card-body">
                                                    <ul>
                                                        <li><b>Nome impresso: </b>${endereco.getCep()}</li>
                                                        <li><b>Número: </b>${endereco.getCidade().getEstado().getNome()}</li>
                                                        <li><b>Vencimento: </b>${endereco.getCidade().getNome()}</li>
                                                        <li><b>Cartão: </b>${endereco.getLogradouro()}</li>
                                                        <li><b>Código de segurança: </b>${endereco.getNumero()}</li>
                                                        <li><b>Favorito: </b>${endereco.getNumero()}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-12">
                                <h2>3. Confirme sua compra</h2>
                                <ul class="mt-4 pl-0">
                                    <li class="d-flex justify-content-between">
                                        <p>1x Mesa Alta</p>
                                        <p>R$ 100,00</p>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>1x cadeira Alta</p>
                                        <p>R$ 100,00</p>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>1x Cadeira Alta X</p>
                                        <p>R$ 100,00</p>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>Desconto do conjunto</p>
                                        <p>- R$ 2,00</p>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>Frete</p>
                                        <p>R$ 2,00</p>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-between">
                                        <p class="font-weight-bold">Valor final</p>
                                        <p class="font-weight-bold">R$ 300,00</p>
                                    </li>
                                </ul>
                                <a href="request.html" id="btnCadastrar" class="btn btn-success float-right">Comprar</a>
                            </div>
                        </div> 
                    </div>
            </div>
            <div class="row justify-content-center mt-5">
                
            </div>
        </section>
        </div>
        </section>
    </main>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/mdb.min.js"></script>



</body>

</html>