<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark stylish-color scrolling-navbar">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5"
            aria-controls="navbarSupportedContent-5" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent-5">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#">Inicial
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="about.html">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="products.html">Produtos</a>
              </li>
            </ul>
            <!-- <ul class="navbar-nav ml-auto nav-flex-icons align-items-center flex-row-reverse flex-md-row justify-content-between">
            <li class="nav-item pr-0 pr-lg-3">
              <a class="nav-link waves-effect waves-light">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
            <li class="nav-item avatar dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" height="35px" alt="avatar image">
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right py-0 dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                <a class="dropdown-item waves-effect waves-light" href="#">Perfil</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Pedidos</a>
                <div class="dropdown-divider my-0"></div>
                <a class="dropdown-item waves-effect waves-light" href="#">Sair</a>
              </div>
            </li>
          </ul> -->
            <ul
              class="navbar-nav ml-auto nav-flex-icons align-items-center flex-row-reverse flex-md-row justify-content-between">
              <li class="nav-item pr-0 pr-lg-3">
                <a href="login.html" class="m-0 nav-link btn btn-link text-white waves-effect font-weight-bold">
                  LOGIN
                </a>
              </li>
              <li class="nav-item avatar dropdown">
                <a href="register.html" class="m-0 nav-link btn  btn-outline-success waves-effect font-weight-bold">
                  Cadastro
                </a>
              </li>
            </ul>
          </div>
        </nav>
    </header>

    <main>
        <section class="py-5 px-2">
            <div class="container dark-grey-text">
                <section class="text-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="../img/desk.jpg" alt="First slide" class="img-fluid">
                        </div>

                        <div class="col-lg-5 text-center text-md-left">
                            
                            <span class="text-muted small">Escritório</span>
                            <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                                <strong>Mesa Alta</strong>
                            </h2>
                            <span class="badge badge-danger p-1 rounded-pill product ml-xl-0 ml-4">Conjunto</span>

                            <h3 class="h3-responsive text-center text-md-left my-5 ml-xl-0 ml-4 teal-text font-weight-bold">
                                <strong>R$ 99,99</strong>
                            </h3>

                            <p class="lead"><strong>Descrição: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo culpa
                                consequuntur omnis molestias praesentium nemo, sapiente aspernatur ipsum numquam natus!
                            </p>
                            <p class="lead"><strong>Fornecedor: </strong>Lorem, ipsum dolor.
                            </p>
                            <p class="lead"><strong>Itens do conjunto: </strong></p>
                            <div class="row">
                                <div class="col-3">
                                    <img src="../img/chair.jpg" alt="asdasd" class="img-fluid">
                                </div>
                                <div class="col-9">
                                    <h4 class="h6">Cadeira Alta</h4>
                                    <p class="lead small mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, quis.</p>
                                    <a href="#" class="teal-text" title="Adicionar no carrinho"><i class="fas fa-cart-arrow-down  float-right  "></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <img src="../img/chair.jpg" alt="asdasd" class="img-fluid">
                                </div>
                                <div class="col-9">
                                    <h4 class="h6">Cadeira Alta</h4>
                                    <p class="lead small mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, quis.</p>
                                    <a href="#" class="teal-text" title="Adicionar no carrinho"><i class="fas fa-cart-arrow-down  float-right  "></i></a>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="row mt-3">
                                  <div class="col-md-6 text-center text-md-left text-md-right">
                                    <a href="login.html" class="btn btn-link px-0 btn-rounded">
                                        <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Adicionar conjunto no carrinho</a>
                                    </div>
                                    <div class="col-md-6 text-center text-md-left text-md-right">
                                        <a href="login.html" class="btn btn-default btn-rounded">
                                            <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Adicionar item no
                                            carrinho</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/mdb.min.js"></script>

</body>

</html>