<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="css/style.css">

    <style>
        .dropdown-menu.show {
            display: flex;
            flex-direction: column;
        }

        .dropdown-item:active,
        .dropdown-item:hover {
            background-color: #4b515d;
            color: #f8f9fa !important;
        }

        .searchInput {
            background-color: #489468;
        }

        .searchInput::placeholder {
            color: white;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #489468;
            border: 0;
        }

        .nav-tabs .nav-link:focus,
        .nav-tabs .nav-link:hover {
            border: 1px solid #489468;
            background-color: #489468;
        }
    </style>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark stylish-color scrolling-navbar">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-5"
                aria-controls="navbarSupportedContent-5" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-5">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link waves-effect waves-light" href="index.html">Inicial
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="about.html">Sobre</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produtos
                        </a>
                        <div class="dropdown-menu dropdown-secondary py-0 flex-column"
                            aria-labelledby="navbarDropdownMenuLink-5">
                            <a class="dropdown-item waves-effect waves-light" href="lote.html">Lotes</a>
                            <a class="dropdown-item waves-effect waves-light active stylish-color" href="#">Avulsos</a>
                            <div class="dropdown-divider my-0"></div>
                            <a class="dropdown-item waves-effect waves-light "
                                href="conj.html">Conjuntos</a>
                        </div>
                    </li>
                </ul>
                <!-- <ul class="navbar-nav ml-auto nav-flex-icons align-items-center flex-row-reverse flex-md-row justify-content-between">
        <li class="nav-item pr-0 pr-lg-3">
          <a class="nav-link waves-effect waves-light">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" height="35px" alt="avatar image">
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right py-0 dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
            <a class="dropdown-item waves-effect waves-light" href="#">Perfil</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Pedidos</a>
            <div class="dropdown-divider my-0"></div>
            <a class="dropdown-item waves-effect waves-light" href="#">Sair</a>
          </div>
        </li>
      </ul> -->
                <ul
                    class="navbar-nav ml-auto nav-flex-icons align-items-center flex-row-reverse flex-md-row justify-content-between">
                    <li class="nav-item pr-0 pr-lg-3">
                        <a class="m-0 nav-link btn btn-link text-white waves-effect font-weight-bold">
                            LOGIN
                        </a>
                    </li>
                    <li class="nav-item avatar dropdown">
                        <a class="m-0 nav-link btn  btn-outline-success waves-effect font-weight-bold">
                            Cadastro
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="jumbotron jumbotron-fluid mb-0 white-text rounded-0 shadow-none"
            style="text-shadow: 1px 1px 4px black;background-image: linear-gradient(to right, #4b515cc4, #4b515c3d),url(../img/about.jpg);background-size: cover;background-position: center;">
            <div class="container">
                <h1 class="display-4 font-weight-bold">Avulsos</h1>
                <p class="lead font-weight-bold">This is a modified jumbotron that occupies the entire horizontal space
                    of its
                    parent.</p>
            </div>
        </section>
        <section>
            <div class="container mt-5 dark-grey-text">
                <h2 class="text-center font-weight-bold mb-4 pb-2">Saiba mais sobre os produtos avulsos</h2>
                <p class="text-center mx-auto w-responsive mb-5 lead">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
                    nostrum
                    quisquam eum porro a pariatur veniam.</p>
            </div>
        </section>
        <section class="dark-grey-text text-center">
            <div class="container">
            <div class="row mb-2">
                <div class="col-md-4 mb-4">
                    <div class="card card-cascade wider card-ecommerce">
                      <div class="view view-cascade overlay">
                        <img src="../img/notebook-avuls.jpg" class="card-img-top"
                          alt="sample photo">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body card-body-cascade text-center text-md-left pb-0">
                        <h5 class="card-title teal-text">
                          <strong>
                            Caderninho
                          </strong>
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                        <div class="card-footer bg-white mt-4">
                          <p class="float-left font-weight-bold mb-1 pb-2"><sup><del><small>R$15,99</small></del></sup>R$ 10,99</p>
                          <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                            <i class="fas fa-cart-plus grey-text ml-3"></i>
                          </a>
                          <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Quick Look">
                            <i class="fas fa-search grey-text ml-3"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                </div>
                  <div class="col-md-4 mb-4">
                    <div class="card card-cascade wider card-ecommerce">
                      <div class="view view-cascade overlay">
                        <img src="../img/black-avuls.jpg" class="card-img-top"
                          alt="sample photo">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body card-body-cascade text-center text-md-left pb-0">
                        <h5 class="card-title teal-text">
                          <strong>
                            Quadro Negro 
                          </strong>
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                        <div class="card-footer bg-white mt-4">
                          <p class="float-left font-weight-bold mb-1 pb-2">R$ 10,99</p>
                          <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                            <i class="fas fa-cart-plus grey-text ml-3"></i>
                          </a>
                          <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Quick Look">
                            <i class="fas fa-search grey-text ml-3"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col-md-4 mb-4">
                <div class="card card-cascade wider card-ecommerce">
                  <div class="view view-cascade overlay">
                    <img src="../img/blackboard-avuls.jpg" class="card-img-top"
                      alt="sample photo">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body card-body-cascade text-center text-md-left pb-0">
                    <h5 class="card-title teal-text">
                      <strong>
                        Mini lousa
                      </strong>
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                    <div class="card-footer bg-white mt-4">
                      <p class="float-left font-weight-bold mb-1 pb-2"><sup><del><small>R$15,99</small></del></sup>R$ 10,99</p>
                      <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                        <i class="fas fa-cart-plus grey-text ml-3"></i>
                      </a>
                      <a class="float-right material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Quick Look">
                        <i class="fas fa-search grey-text ml-3"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-lg btn-outline-default mb-5">Ver todos</a>
        </div>
        </section>
    </main>

    <footer class="page-footer stylish-color font-small">
        <div class="footer-copyright text-center text-white stylish-color-dark py-3">© 2020 Todos os direitos
            reservados:
            <a class="text-light font-weight-bold" href="https://mdbootstrap.com/education/bootstrap/">
                foxdevlabs.com</a>
        </div>
    </footer>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/mdb.min.js"></script>

</body>

</html>