<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.min.css">

    <link rel="stylesheet" href="css/style.css">

    <style>
        .dropzone{
            background-color: #cecece;
            border: 2px dotted #aeaeae;
            height: 100%;
        }
    </style>
</head>

<body>
    <header style="background: rgba(0,0,0,0.8);">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent shadow-none scrolling-navbar">
            <div class="container">
                <a class="navbar-brand mx-auto font-weight-bold" href="index.html">SCHOOLSTORE</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="py-5 px-2">
            <div class="container mt-5 dark-grey-text">
                <h1 class="text-center">CADASTRO DE USUÁRIO</h1>
                <hr>

                <section>
                    <div class="row">
                        <div class="col-lg-6 " id="dropzone">
                            <div class="dropzone d-flex mx-5">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-between">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input"
                                        id="entidadeJuridica" name="tipoEntidade">
                                    <label class="custom-control-label" for="entidadeJuridica">Sou uma instituição
                                        acadêmica</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input"
                                        id="entidadeFisica" checked name="tipoEntidade">
                                    <label class="custom-control-label" for="entidadeFisica">Sou uma entidade física</label>
                                </div>
                            </div>
                            <form action="">
                                <div class="row mt-3">
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="text" required maxlength="50" id="txtNome" name="txtNome"
                                                class="form-control mb-0">
                                            <label for="txtNome">Nome Completo</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="date" required id="txtDataNascimento" name="txtDataNascimento"
                                                class="form-control mb-0">
                                            <label for="txtDataNascimento">Data de Nascimento</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-form">
                                    <input type="email" id="txtEmail" class="form-control mb-0">
                                    <label for="txtEmail">E-mail</label>
                                </div>
                                <div class="row" id="tipoPessoa">
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="text" required maxlength="50" id="txtCpf" name="txtCpf"
                                                class="form-control mb-0">
                                            <label for="txtCpf">CPF</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="text" required id="txtRg" name="txtRg" class="form-control mb-0">
                                            <label for="txtRg">RG</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="password" id="txtSenha" name="txtSenha" class="form-control" required>
                                            <label for="txtSenha">Senha</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="password" id="txtSenhaConfirmacao" name="txtSenhaConfirmacao" class="form-control" required>
                                            <label for="txtSenhaConfirmacao">Confirmação de senha</label>
                                        </div>
                                    </div>
                                </div>
                                <a href="login.html" id="btnCadastrar" class="btn btn-success float-right">Cadastrar</a>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script>
        $("#entidadeJuridica").click(function(){
            $("#tipoPessoa").find('.col').remove()
            $("#tipoPessoa").append('<div class="col"><div class="md-form"><input type="text" required maxlength="50" id="txtCnpj" name="txtCnpj" class="form-control mb-0">  <label for="txtCnpj">CNPJ</label>    </div>          </div>         ')
            $("#txtDataNascimento").parent().parent().remove()
        })

        $("#entidadeFisica").click(function(){
            $("#tipoPessoa").find('.col').remove()
            $("#tipoPessoa").append(`<div class="col">
                                        <div class="md-form">
                                            <input type="text" required maxlength="50" id="txtCpf" name="txtCpf"
                                                class="form-control mb-0">
                                            <label for="txtCpf">CPF</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="md-form">
                                            <input type="text" required id="txtRg" name="txtRg" class="form-control mb-0">
                                            <label for="txtRg">RG</label>
                                        </div>
                                    </div>`)
            $("#txtNome").parent().parent().parent().append(`<div class="col">
                                        <div class="md-form">
                                            <input type="date" required id="txtDataNascimento" name="txtDataNascimento"
                                                class="form-control mb-0">
                                            <label for="txtDataNascimento">Data de Nascimento</label>
                                        </div>
                                    </div>`)
        })

    </script>


</body>

</html>